

body{
    background-color:#1b4b72 !important;
}

#loginbody{
    padding-top: 50;
    max-width: 50rem;
    max-height: 40rem;

}

#picdata{
    width: 30%;
}



#backdrop{
    position: fixed;
    background-color: rgba(106, 176, 76,0.2);
    border-radius: 5;
    padding: 30;
}
#mymodalcontent{
    /* max-width: 40rem;
      min-height: 30rem; */
      /* margin: 10rem; */
      border-radius: 5;
      /* padding: 30 ; */
      /* background-color: whitesmoke; */
}
#loginmodalbg{
    background-color:rgb(13, 75, 51);
    
}
.loginmodal{
    width: 100%;
}

#bglemon{
    background: rgba(123, 187, 113, 0.75);

 
}
#pp{
    height: 10rem;
    width: 10rem;

}

#testbox{
    /* background: linear-gradient(180deg, rgba(167, 243, 211, 0.78) 0%, rgba(119, 219, 177, 0.3822) 95.94%); */
    /* background: rgba(60, 143, 109, 1); */
    background: linear-gradient(180deg, rgba(60, 143, 109, 0.78) 0%, rgba(64, 144, 111, 0.598389) 43.8%, rgba(68, 146, 113, 0.3822) 95.94%);


    /* height:10rem; */

}

#testbox2{
    background-color:bisque;
    /* height:6rem; */

}

#navbarcolor{
    background:rgba(49, 97, 94, 0.844);
}

#tabletextcolor{
    /* color: rgba(149, 86, 211, 1); */
    font-size:large;
}
.overlay {
    
    opacity: .5;
    transition: .3s ease;
    background: color 0;
  }
  #ppedit:hover .overlay {
    opacity: 1;
  }

  #boxsizebody{
      width: 100%;

  }